# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# idea文件
.idea/
.DS_Store
*.iml
*/output/
*/target/
*/issue.info
logs/
output
target
*.log
temp_code.py
*/application-dev_redis.properties
generator/*
.classpath
.project
**/.settings/**
**/.txlcn/**
.factorypath
.springBeans

#txlcn
.txlcn
order_center/src/main/resources/bootstrap-zhu.yml
**/bootstrap-syf.yml
